@model  IEnumerable<ITowerCafe.Models.SingleFormViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.FormId</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { formId = ViewBag.FormId })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { formId = ViewBag.FormId, itemId = item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

